
.contenedor-regresar {
    width: 100%;
    margin-bottom: 50px;
}

.volver-inicio {
    /* display: block; */
    margin-left: 60px;
    height: 100%;
}

.volver-inicio i {
    color: #26a69a;
    font-size: 2.1rem;
}

.volver-inicio:hover i {
    color: #26d0bf;
}

.introduccion {
    margin: 0 15vw 3.5rem;
}

.contenedor-titulo {
    width: 100%;
    /* border: 1px solid green; */
    margin-bottom: 2.5rem;
}

.titulo {
    text-align: center;
}

.contenedor-parrafo {
    width: 100%;
    /* border: 1px solid yellow; */
}

.formulario {
    /* border: 1px solid red; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0f2f1;
    padding: 30px 0 20px;
}

.fila {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.contenedor-campo {
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 30vw;
    max-width: 300px;
}

.etiqueta {
    margin-bottom: -20px; /*10px*/
    font-weight: bold;
    color: #11897d;
}



.input {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 0;
    transition: border-bottom 0.3s ease-in-out;
    transition: font-weight 0.3s ease-in-out;
}

.input:focus {
    border-bottom: 2px solid #26a69a;
    font-weight: bold;
}

.contenedor-boton {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.boton-calcular {
    color: white;
    font-size: 1rem;
    /* font-weight: bold; */
    cursor: pointer;
    background-color: #26a69a;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.boton-calcular:hover {
    background-color: #26d0bf;
    scale: 1.1;
}