@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Luxurious+Roman&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

.titulo {
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.numero-grupo {
    margin-bottom: 30px;
}

.contenedor-opciones {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.contenedor-opcion {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.contenedor-imagen {
    width: 100%;
}

.img-calculadora {
    width: 100%;
}

.contenedor-texto {
    margin: 20px 0 30px;
    width: 80%;
}

.nombre-calculadora {
    margin: 10px 0;
    color: #3472ce;
    font-size: 1.7rem;
}

.separador {
    border-color: white;
    width: 100%;
}

.contenedor-enlace {
    padding: 20px 0;
}

.enlace {
    text-decoration: none;
    color: #ffab40;
    transition: opacity 0.3s ease-in-out;
}

.enlace:hover {
    opacity: 0.5;
}