
.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #116c63, #ffffff);
}

.contenedor2 {
    padding: 40px 0;
    width: 60vw;
    max-width: 700px;
    border:none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa10;
    backdrop-filter: blur(0.4rem);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.titulo {
    /* border: 1px solid yellow; */
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    color: #0e346e;
}

.contenedor-opciones {
    /* border: 1px solid orange; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 650px){
    .contenedor-opciones {
        flex-direction: column;

    }

    .contenedor-opcion {
        margin-bottom: 40px;
    }
}

.contenedor-opcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-calculadora:hover {
    scale: 1.1;
}

.nombre-calculadora {
    margin-top: 20px;
    color: #3472ce;
    font-size: 1.2rem;
    font-weight: bold;
}