@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Luxurious+Roman&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.contenedor {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
    margin: 30px 0;
}

.titulo {
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.numero-grupo {
    margin-bottom: 20px;
}

.ver-integrantes {
    margin-bottom: 30px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
    transition: scale 0.3s ease-in-out;
}

.ver-integrantes:hover {
    scale: 1.2;
}

.contenedor-opciones {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.contenedor-opcion {
    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.contenedor-imagen {
    width: 100%;
}

.img-calculadora {
    width: 100%;
}

.contenedor-texto {
    margin: 20px 0 30px;
    width: 80%;
}

.nombre-calculadora {
    margin: 10px 0;
    color: #3472ce;
    font-size: 1.7rem;
}

.separador {
    border-color: white;
    width: 100%;
}

.contenedor-enlace {
    padding: 20px 0;
}

.enlace {
    text-decoration: none;
    color: #ffab40;
    transition: opacity 0.3s ease-in-out;
    font-size: 1rem;
}

.enlace:hover {
    opacity: 0.5;
}

.btn-eliminar {
    cursor: pointer;
    vertical-align: middle;
    font-size: 30px;
    color: #dc3545;
}

.btn-eliminar:hover {
    color: #c82333;
}

.fondo-modal {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.contenedor-modal {
    width: 40vw;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 30px;
    transition: transform 1s;
    transform: translateY(0%); /*Esto variará de 0 a -200%*/
    overflow: auto;
}

.contenedor-info-modal {
    width: 80%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.cerrar-contenedor-modal {
    transform: translateY(-200%);
}

.titulo-integrantes {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 20px;
    color: #17478f;
}

.lista-integrantes {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.integrante {
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 1070px){
    .integrante {
        font-size: 1.3rem;
        text-align: center;
    }
    .contenedor-modal {
        width: 50vw;
    }
}

@media screen and (max-width: 780px){
    .contenedor-opciones {
        gap: 100px;
    }
    .titulo-integrantes {
        font-size: 2.1rem;
    }
    .integrante {
        font-size: 1.2rem;
        text-align: center;
    }
    .contenedor-modal {
        width: 60vw;
    }
}

@media screen and (max-width: 520px){
    .contenedor-opciones {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .titulo {
        font-size: 3.3rem;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        color: black;
    }
}